grant {
    permission java.net.SocketPermission "api.openweathermap.org:443", "connect,resolve";
    permission java.lang.RuntimePermission "accessClassInPackage.org.json";
};